.message{
    display: flex;
    flex-direction: column;
}

.msgimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.msgtop{
    display: flex;
}
.msgtext{
    padding: 10px;
    border-radius:20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}
.msgbottom{
    font-style: 12px;
    margin-top: 10px;
}
.message.own {
    align-items: flex-end;
}
.message.own .msgtext{
    background-color: lightgray;
    color: black;
}

.chatboxwrap{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    position: relative;
}
.chatbox{
    flex: 5.5;
}

.chatboxtop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;  
}

.chatmenuinput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}


.noconvotext{
position: absolute;
top: 10%;
font-size: 50px;
color: gray;
cursor: default;
/* text-align: center; */
}



